beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
func-timeout==4.3.5
idna==2.10
joblib==1.0.0
lxml==4.6.2
metadata-parser==0.10.4
nltk==3.5
regex==2020.11.13
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
soupsieve==2.1
tqdm==4.55.1
urllib3==1.26.2
wget==3.2
